<div class="container">
    <h2 class="list-group-item-heading">Login</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="tb-log-email">Email: </label>
                <input id="tb-log-email" class="form form-control" placeholder="Your Email">
            </div>
            <div class="form-group">
                <label for="tb-log-password">Password: </label>
                <input id="tb-log-password" class="form form-control" placeholder="Your Password">
            </div>
        </div>
    </div>
    <input id="btn-login-submit" type="button" value="Login" class="btn btn-primary">
</div>